* {
	margin: 0;
	padding: 0;
	line-height: 1.8;
}
/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, button{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.8;
	font-family: Arial, sans-serif;
}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
.wrapper {
	min-width: 1055px;
	max-width: 1280px;
	padding: 0 50px;
	margin: 0 auto;
}

/*---------menu----------*/
.topmenu{
	height: 54px;
	position: relative;
	clear: both;
}
.topmenu ul{
	
}
.topmenu li{
	display: block;
	float: left;
}
.topmenu a{
	text-decoration: none;
	text-transform: uppercase;
	font: 17px 'arial';
	color: #A52A2A;
	display: block;
	padding: 17px 30px;
	text-align: center;
	border-right: 1px solid #d6b60f;
    border-left: 1px solid #fdd816;
	-moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.topmenu, .leftmenu a{
	background: #f9e312;
    background: -moz-linear-gradient(top, #f9e312 0%, #ffb612 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9e312), color-stop(100%,#ffb612));
    background: -webkit-linear-gradient(top, #f9e312 0%,#ffb612 100%);
    background: -o-linear-gradient(top, #f9e312 0%,#ffb612 100%);
    background: -ms-linear-gradient(top, #f9e312 0%,#ffb612 100%);
    background: linear-gradient(top, #f9e312 0%,#ffb612 100%);
}
.topmenu li:first-of-type a{border-left: none;}
.topmenu a:hover, .topmenu .active a{
	background:#FAE73D;
}

/*-----search--------*/
.search{
	top: 14px;
    right: 14px;
    position: absolute;
}
.search input, .search-content input[type = "text"] {
	width: 170px;
    height: 26px;
    padding-left: 10px;
    border: #FF6600 solid 1px;
    -webkit-box-shadow: inset 1px 1px 2px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: inset 1px 1px 2px 0px rgba(0,0,0,0.45);
    box-shadow: inset 1px 1px 2px 0px rgba(0,0,0,0.45);
    float: left;
}
.search button, .search-content button{
    width: 60px;
    height: 28px;
    background: #FF6600;
    position: relative;
    right: 1px;
    color: #ffffff;
    cursor: pointer;
    /*float: left;*/
}
.select-search-block{
	margin: 20px 0;
}
.select-search-block input{
	
}
.select-search-block label{
	width: 170px;
    display: block;
    float: left;
}
/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	position: relative;
	margin: 15px 0;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
}
.content {
	padding: 40px 70px;
	overflow: hidden;
	border: 1px solid gray;
}
h1, h2, h3{
	text-align: center;
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 1px solid #B8860B;
    font-size: 1.3em;
	clear: both;
}
h1{
	
}
h2{
	
}
.content p{
	padding-top: 20px;
}

/*----pagination------*/
.pagination{
	clear: both;
    width: 300px;
    margin: 0 auto;
    padding: 40px 0 0 0;
    display: block;
    height: 50px;
    position: relative;
}
.pagination a{
    text-decoration: none;
    padding: 5px;
    border: 1px solid;
    border-radius: 10px;
    display: block;
    float: left;
    width: 20px;
    text-align: center;
    margin: 2px;
    color: #ffffff;
    background: #216161;
}
.pagination a.active{
	background: #174040;
}
/*-----сортировка-----*/
.sort{
	
}
.sort select{
	height: 30px;
    outline: none;
    border: 1px solid #8c8888;
}
.sort-button{
	padding: 2px 10px;
    cursor: pointer;
    background: #bed8d8;
}

/*----adaptation------*/
@media all and (max-width:1320px) {
	.search input[type = "text"] {width: 150px;}
	.topmenu a{padding: 17px 27px;}
}
@media all and (max-width:1270px) {
	.top-phone, .top-contacts{ margin: 2%;}
	a.title-cat{
		height: 80px;
		font-size: 0.9em;
}
}
@media all and (max-width:1255px) {
	.search input[type = "text"] {width: 120px;}
	.topmenu a{padding: 17px 25px;}
}
@media all and (max-width:1200px) {
	.search input[type = "text"] {width: 90px;}
	.topmenu a{padding: 17px 20px;}
}
